@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('NanumBarunGothic.ttf');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('NanumBarunGothic.ttf');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('NanumBarunGothicBold.ttf');
}

body {
  font-family: 'NanumBarunGothic', sans-serif;
  margin: 0;
  background-color: #f4f5fb;
  min-width: 794px;
}

* {
  margin: 0;
  text-rendering: geometricprecision !important;
  -webkit-font-smoothing: antialiased;
}
